html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: 'Roboto', Verdana, sans-serif;
    min-width: 1920px;
}

.dark-section {
    background-color: $color-background-dark;
}

h1 {
    @extend %font-add;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;

    @include font ($size: 28px, $height: 31px)
}
h2 {
    @extend %font-add;
    letter-spacing: 5px;
    text-transform: uppercase;

    @include font ($size: 80px, $height: 90px)
}

h3 {
    @extend %font-add;
    letter-spacing: 5px;
    text-transform: uppercase;

    @include font ($size: 32px, $height: 35px)
}

h4 {
    letter-spacing: 2px;

    @include font($size: 22px, $height: 26px, $weight: 200)
    }