//welcome section
button {
    border: none;
    background-color: transparent;
    padding: 0;
}
.button__colored {
    display: inline-block;
    width: 360px;
    height: 75px;
    margin-top: 75px;
    padding: 24px 0;
    color: $color-light;
    background-color: #710707;
    border-radius: 10px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', Verdana, sans-serif;
    letter-spacing: 2px;
    &:hover {
        background-color: $color-additional;
    transition: .3s;
    }
}
// video section
.big-button-play {
    position: absolute;
    width: 220px;
    height: 220px;
    top: calc(50% - 110px);
    left: calc(50% - 110px);
    background: url(/deniskhaliullin-JSFE2021Q3/museum/src/assets/video/Big-play.svg);
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
}

.button-play {
    width: 23px;
    height: 31px;
    background: url(/deniskhaliullin-JSFE2021Q3/museum/src/assets/video/play-icon.svg);
    border: none;
}

.sound-item {
    width: 38px;
    height: 31px;
    background: url(/deniskhaliullin-JSFE2021Q3/museum/src/assets/video/volume-icon.svg);
    border: none;
}

.fullscreen-item {
    width: 35px;
    height: 35px;
    background: url(/deniskhaliullin-JSFE2021Q3/museum/src/assets/video/fullscreen-icon.svg);
    border: none;
}
//video playlist

.swiper-control-right {
    background-image: url(/deniskhaliullin-JSFE2021Q3/museum/src/assets/video/Vector\ \(Stroke\)\ right.svg);
    width: 10px;
    height: 12px;
    cursor: pointer;
}

.swiper-control-left {
    background-image: url(/deniskhaliullin-JSFE2021Q3/museum/src/assets/video/Vector\ \(Stroke\)\ left.svg);
}

//tickets section

.amount__number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    width: 150px;
    height: 50px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
}

.amount__button {
    width: 40px;
    display: block;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.amount__input {
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.amount__input::-webkit-outer-spin-button,
.amount__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buy__button {
    margin-top: 30px;
    width: 175px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    &:hover {
        background-color: $color-additional;
    transition: .3s;
    }
}

//booking tickets button

.entry-ticket__number {
    display: flex;
    margin-left: auto;
    width: 105px;
    height: 25px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.entry-ticket__input {
   width: 35px;
   all: unset;
   text-align: center;
}

.entry-ticket__input::-webkit-outer-spin-button,
.entry-ticket__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.entry-ticket__button {
    width: 35px;
    display: block;
    border: none;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}

.booking-tickets__button {
    position: relative;
    bottom: 155px;
    left: 250px;
    width: 220px;
    height: 50px;
    background-color: #710707;
    color: $color-light;
    &:hover {
        background-color: $color-additional;
        transition: .3s;
    }
}

.close__button {
    display: inline-block;
    position: absolute;
    right: 27px;
    top: 30px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url(/deniskhaliullin-JSFE2021Q3/museum/src/assets/img/tickets/Close.svg);
}