button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.button__colored {
    display: inline-block;
    width: 360px;
    height: 75px;
    margin-top: 75px;
    padding: 24px 0;
    color: $color-light;
    background-color: #710707;
    border-radius: 10px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', Verdana, sans-serif;
    letter-spacing: 2px;
}

