
.contacts {
    min-height: 963px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.contacts__description {
    width: 282px;
    height: 244px;
    display: flex;
    flex-direction: column;
}

.contacts__inner-block {
    display: flex;
    justify-content: space-between;
}

.contacts__title {
    position: relative;
    margin: 0;
    padding-bottom: 103px;
    color: $color-additional;
    &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 115px;
            width: 100%;
            height: 3px;
            background-color: #710707;
    }
}

.contacts__subtitle {
    margin: 0;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
}

.contact__text {
    margin: 0;
    padding-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    color: $color-background-dark;
}

.map {
    width: 960px;
    height: 620px;
    margin-left: 83px;
}