.explore__wrapper {
display: flex;
justify-content: space-between;
height: 865px;
column-gap: 60px;
}

.explore__title {
    color: $color-light;
    margin: 0;
    padding-top: 75px;
    margin-bottom: 103px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 190px;
        width: 100%;
        height: 3px;
        background-color: #710707;
        transition: width 1s;
      
    }
}

.explore__text {
    color: $color-light;
    max-width: 660px;
    padding-top: 25px;
    margin: 0;

    @include font ($size: 22px, $height: 38px, $weight: 300)
    
}

.first-line {
    padding: 0;
}

.explore__text span {
    color: #CAAA7D;
}
.explore__image {
    width: 720px;
    height: 700px;
}

.explore__overlay {
    width: 720px;
    height: 700px;
}

.explore-comparison__wrapper {
    position: relative;
    right: 720px;
    top: 90px;
    height: 700px;
}

.explore-comparison__image {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.explore-comparison__image img{
    display: block;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
  height: 700px;
    background-image: url(/deniskhaliullin-JSFE2021Q3/museum/src/assets/img/explore-slider/exploreSlider.svg);
    color: $color-light;
  }

