.gallery {
    height: 2200px;
}
.gallery__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    max-height: 2125px;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 360px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
}
.gallery__title {
    margin: 0;
    padding-top: 75px;
    color: $color-light;
    padding-bottom: 75px;
}

.picture-inner__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 3020px;
    row-gap: 36px;
    column-gap: 24px;
    
}

.gallery__image {
    width: 456px;
}


.child:nth-child(1) {
    margin-top: 75px;
}

.child:nth-child(11) {
    margin-top: 75px;
}
