.parallax__wrapper {
    width: 100%;
    height: 400px;
    background-image: url(/deniskhaliullin-JSFE2021Q3/museum/src/assets/img/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
}
