.welcome__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome__image {
    width: 1000px;
    height: 750px;
    padding-bottom: 32px;
}
.welcome__title {
    position: absolute;
    top: 233px;
    left: 462px;
    color: $color-light;
}

.welcome__text {
    position: absolute;
    top: 478px;
    left: 462px;
    font-weight: 300;
    letter-spacing: 2px;
    color: $color-light;

    @include font ($size: 28px, $height: 33px)
}
.welcome__item {
    display: block;
}