.button {
    width: 360px;
    height: 75px;
    padding: 2px  64px;
    color: $color-light;
    background-color: #710707;
    border-radius: 10px;
    font-size: 2.2rem;
    line-height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', Verdana, sans-serif;
    border: 1px solid #710707;
    letter-spacing: 2px;
}

.welcome__button {
    padding-top: 240px;
}