.explore__wrapper {
display: flex;
}

.explore__title {
    color: $color-light;
}

.explore__text {
    color: $color-light;
    max-width: 660px;

    @include font ($size: 22px, $height: 38px, $weight: 300)
    
}

.explore__text span {
    color: #CAAA7D;
}