.header {
    background-color: #030303;
    
}

.header__wrapper {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 199px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    &:hover {
        filter: invert(57%) sepia(6%) saturate(2052%) hue-rotate(356deg) brightness(84%) contrast(86%);
    transition: .3s;

    }
}

.logo__title {
    color: $color-light;
}

.logo-svg {
    background-image: url(/deniskhaliullin-JSFE2021Q3/museum/src/assets/img/svg/logo.svg);
    width: 49px;
    height: 26px;
    display: inline-block;
}