
.logo-svg {
    background-image: ;
}

.logo__link:hover {
    color: #9d8665;
  }
  .logo-png:hover {
    filter: invert(57%) sepia(6%) saturate(1808%) hue-rotate(356deg)
      brightness(94%) contrast(84%);
  }