
/*header*/

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logo {
      text-transform: uppercase;
  }

.logo-svg {
    background-image: url(assets/img/svg/logo.svg);
    filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(164deg) brightness(105%) contrast(106%);
    width: 195px;
    height: 50px;
}

.logo__link:hover {
    color: #9d8665;
  }
  

  /*visiting*/
  .visiting__title {
      position: relative;
  }

  .visiting__title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: red;
}