$color-background-dark: #030303;
$color-text: #000000; // основной цвет текста
$color-additional: #9d8665;// дополнительный цвет текста
$color-link: #9d8665; // цвет ссылок при наведении
$color-border: #030303;
$color-light: #ffffff;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-widht: 420px;